{% extends 'base.html'%}

{% block content %}

{% for obj in object_list%}
<!-- <div class="row">
  <div class="col-6 col-md-8 ml-mr-auto">
    <h1>{{obj.title}}</h1>
    <div class="col-md-4">
      <a href="{% url 'post_detail' pk=obj.id %}" class="thumbnail">
        <img src="{{obj.main_image}}" alt="Image of staff">
      </a>
      </div>
      <div class="col-6 col-md-8 ml-mr-auto">
        <p>{{obj.content}}</p>
      </div>
  </div>
</div> -->
<div class="row">
  <div class="col-sm-3 ml-auto">
    <h1>IMAGE</h1>
    <img src="{{obj.main_image}}" alt="Image of staff" class="rounded w-100">
  </div> 
  <div class="col-sm-6 mr-auto">
    <h1>{{obj.title}}</h1>
    <p>{{obj.content}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}
